body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.title {
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.cart-item {
    background: white;
    margin: 10px;
    padding: 10px;
}
